
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

a, a:hover {

    text-decoration: none;
    color: unset;
}

html, body{
    
    background-color: #E8E8E8;
}

header{

    background-color: #800000;
    height: 40px;
    display: flex;
    align-items: center;
}

nav {
    
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
}

.container{

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}